.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .nav {
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin: 7.5px !important;
  }
}

.nav__link {
  color: var(--color-pure-white) !important;
  margin: 7.5px;
}

@media (min-width: 768px) {
  .nav__link {
    margin: 0;
  }

  .nav__link:not(:first-of-type) {
    margin-left: 15px;
  }
}

@media (min-width: 960px) {
  .nav__link {
    margin: 7.5px !important;
  }
}
