<!DOCTYPE html>
<html lang="pt-br">
<head>
  <base href="/" />
	<meta charset="utf-8" />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <meta name='description' content='JRMod é uma marca/empresa de modificação e aperfeiçoamento de pedais de efeitos do Brasil, considerada uma das melhores do mercado' />
  <meta name="theme-color" content="#1A1A1A">
  <title>JRMod</title>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- APP here -->
</body>
</html>
