<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name='theme-color' content='#1A1A1A' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="https://dummyimage.com/192x192/1a1a1a/1a1a1a.png" rel="shortcut icon" type="image/png" />
  <link href="https://dummyimage.com/192x192/1a1a1a/1a1a1a.png" rel="apple-touch-icon" type="image/png" />
  <link href="/manifest.json" rel='manifest' />
  <link href="https://jrmod.net" rel="canonical" />
</head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- APP here -->
</body>
</html>
