<!DOCTYPE html>
<html lang="pt-br">
<head>
  <base href="/" />
	<meta charset="utf-8" />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <meta name='description' content='Javascript é como uma folha em branco, a liberdade de programar do jeito que faça sentido para o negócio!' />
  <title>Rex.JS Mark II</title>
</head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- APP here -->
</body>
</html>
