.banner {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .banner {
    background-color: var(--COLOR-MASTER-DARKER);
    padding-bottom: 0;
  }
}

.banner__image {
  padding-top: calc(500 / 529 * 100%) !important;
}

@media (min-width: 550px) {
  .banner__image {
    padding-top: calc(500 / 747 * 100%) !important;
  }
}

@media (min-width: 768px) {
  .banner__image {
    padding-top: calc(500 / 939 * 100%) !important;
  }
}

@media (min-width: 960px) {
  .banner__image {
    padding-top: calc(500 / 1200 * 100%) !important;
  }
}

.banner__h1 {
  color: var(--COLOR-MASTER-DARKER);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .banner__h1 {
    bottom: 100px;
    color: var(--COLOR-MASTER-LIGHTEST);
    font-size: 24px;
    left: 10px;
    padding: 0 20px;
    position: absolute;
    width: calc(100% - 20px);
  }
}

.banner__link {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .banner__link {
    bottom: 40px;
    left: calc(50% - 70px);
    position: absolute;
  }
}
