.card {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.6);
  padding: 32px;
  text-align: center;
}

.card__value,
.card__title {
  color: #000;
}

.card__button {
  background-color: #000;
  line-height: 40px;
}
