.bubble {
  padding: 40px 0;
}

.bubble__h2 {
  color: var(--COLOR-MASTER-DARKER);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .bubble__h2 {
    font-size: 24px;
    text-align: left;
  }
}

.bubble__nav > div {
  display: flex;
}

.bubble__div {
  padding: 10px;
}

.bubble__picture {
  display: block;
  height: 100%;
  padding-top: calc(200 / 200 * 100%);
  position: relative;
  width: 100%;
}

.bubble__img {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bubble__a {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
