.story {
  align-items: center;
  background-color: var(--color-pure-black);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .story {
    flex-direction: row-reverse;
  }
}

.story__picture {
  padding-top: calc(650 / 767 * 100%) !important;
}

@media (min-width: 768px) {
  .story__picture {
    padding-top: calc(650 / 959 * 100%) !important;
  }
}

@media (min-width: 960px) {
  .story__picture {
    padding-top: calc(650 / 1440 * 100%) !important;
  }
}

.story__figcaption {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-between;
  max-width: 450px;
  padding: 60px 6.23%;
}

@media (min-width: 768px) {
  .story__figcaption {
    max-width: 500px;
  }
}

@media (min-width: 960px) {
  .story__figcaption {
    max-width: 600px;
  }
}

.story__h1 {
  color: var(--color-pure-white);
  text-transform: uppercase;
}

.story__p {
  color: var(--color-light-gray);
}
