.nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.nav__a {
  color: var(--COLOR-MASTER-LIGHTEST);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
