.text {
  color: var(--color-master);
  font-size: var(--size-medium);
}

.text[largest] {
  font-size: var(--size-largest);
}

.text[larger] {
  font-size: var(--size-larger);
}

.text[large] {
  font-size: var(--size-large);
}

.text[small] {
  font-size: var(--size-small);
}

.text[smaller] {
  font-size: var(--size-smaller);
}

.text[smallest] {
  font-size: var(--size-smallest);
}

.text[darkest] {
  color: var(--color-master-darkest);
}

.text[darker] {
  color: var(--color-master-darker);
}

.text[dark] {
  color: var(--color-master-dark);
}

.text[light] {
  color: var(--color-master-light);
}

.text[lighter] {
  color: var(--color-master-lighter);
}

.text[lightest] {
  color: var(--color-master-lightest);
}
