.text {
  color: var(--color-master);
  font-size: var(--font-size);
}

.text[largest] {
  font-size: var(--font-size-largest);
}

.text[larger] {
  font-size: var(--font-size-larger);
}

.text[large] {
  font-size: var(--font-size-large);
}

.text[small] {
  font-size: var(--font-size-small);
}

.text[smaller] {
  font-size: var(--font-size-smaller);
}

.text[smallest] {
  font-size: var(--font-size-smallest);
}

.text[primary] {
  color: var(--color-primary);
}

.text[complete] {
  color: var(--color-complete);
}

.text[success] {
  color: var(--color-success);
}

.text[warning] {
  color: var(--color-warning);
}

.text[danger] {
  color: var(--color-danger);
}

.text[info] {
  color: var(--color-info);
}
