.text[largest] {
  font-size: var(--size-largest);
}

.text[larger] {
  font-size: var(--size-larger);
}

.text[large] {
  font-size: var(--size-large);
}

.text,
.text[medium] {
  font-size: var(--size-medium);
}

.text[small] {
  font-size: var(--size-small);
}

.text[smaller] {
  font-size: var(--size-smaller);
}

.text[smallest] {
  font-size: var(--size-smallest);
}

.text[master][darkest] {
  color: var(--color-master-darkest);
}

.text[master][darker] {
  color: var(--color-master-darker);
}

.text[master][dark] {
  color: var(--color-master-dark);
}

.text[master] {
  color: var(--color-master);
}

.text[master][light] {
  color: var(--color-master-light);
}

.text[master][lighter] {
  color: var(--color-master-lighter);
}

.text[master][lightest] {
  color: var(--color-master-lightest);
}

.text.primary {
  color: var(--color-primary);
}

.text.complete {
  color: var(--color-complete);
}

.text.success {
  color: var(--color-success);
}

.text.warning {
  color: var(--color-warning);
}

.text.danger {
  color: var(--color-danger);
}
