.button {
  align-items: center;
  background-color: var(--color-master-darkest);
  border: none;
  color: var(--color-master-lightest);
  display: inline-flex;
  font-size: var(--font-size-small);
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: 2px;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--color-master-light);
  color: var(--color-master-darkest);
}

.button.inverse {
  background-color: var(--color-master-light);
  color: var(--color-master-darkest);
}

.button.inverse:hover {
  background-color: var(--color-master-base);
  color: var(--color-master-light);
}
