.header {
  background-color: #0a0a0a;
  display: flex;
  height: 48px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__menu,
.header__apple,
.header__search,
.header__bag {
  height: inherit;
  opacity: 0.8;
  text-indent: -9999px;
  transition: opacity 0.5s;
  width: 48px;
}

.header__apple {
  background: url(https://www.apple.com/ac/globalnav/6/pt_BR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_small.svg) no-repeat;
  background-position: center center;
  background-size: 16px 44px;
}

.header__nav {
  display: none;
}

.header__search {
  background: url(https://www.apple.com/ac/globalnav/6/pt_BR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__fca9mfoh8a2q_large.svg) no-repeat;
  background-position: 14px 0;
  background-size: 18px 88px;
}

.header__bag {
  background: url(https://www.apple.com/ac/globalnav/6/pt_BR/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__bmix8075eg4i_large.svg) no-repeat;
  background-position: center center;
}

@media (min-width: 768px) {
  .header {
    height: 44px;
  }

  .header__menu,
  .header__apple,
  .header__search,
  .header__bag {
    cursor: pointer;
    width: 44px;
  }

  .header__menu {
    display: none;
  }

  .header__menu:hover,
  .header__apple:hover,
  .header__search:hover,
  .header__bag:hover {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .header__nav {
    display: flex;
  }
}
