.header {
  background-color: #0a0a0a;
  display: flex;
  height: 48px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header__menu,
.header__apple,
.header__search,
.header__bag {
  height: inherit;
  opacity: 0.8;
  position: relative;
  text-indent: -9999px;
  transition: opacity 0.5s;
  width: 38px;
}

.header__menu::before,
.header__menu::after {
  background-color: #f5f5f5;
  content: '';
  display: block;
  height: 1px;
  left: 10px;
  position: absolute;
  width: 18px;
}

.header__menu::before {
  top: 20px;
}

.header__menu::after {
  bottom: 20px;
}

.header__apple {
  background: url(./apple.svg) no-repeat;
  background-position: center center;
  background-size: 16px 44px;
}

.header__search {
  background: url(./search.svg) no-repeat;
  background-position: 14px 0;
  background-size: 18px 88px;
}

.header__bag {
  background: url(./bag.svg) no-repeat;
  background-position: center center;
}

.header__nav {
  display: none;
}

@media (min-width: 768px) {
  .header {
    height: 44px;
  }

  .header__menu,
  .header__apple,
  .header__search,
  .header__bag {
    cursor: pointer;
    width: 38px;
  }

  .header__menu {
    display: none;
  }

  .header__search {
    height: 44px;
  }

  .header__menu:hover,
  .header__apple:hover,
  .header__search:hover,
  .header__bag:hover {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .header__nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: calc(100% - 130px);
  }

  .header__link {
    align-items: center;
    color: #f5f5f5;
    cursor: pointer;
    display: flex;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 300;
    height: 44px;
    opacity: 0.8;
    padding: 0 10px;
    transition: opacity 0.8s;
  }

  .header__link:hover {
    opacity: 1;
    transition: opacity 0.8s;
  }
}
