@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

:root {
  --font-base: 14px;
  --font-decoration: 'Montserrat', sans-serif;
  --font-ratio: 0.1vw;
  --font-scale: 1.333;
  --font-size-largest: calc(var(--font-size-larger) * var(--font-scale));
  --font-size-larger: calc(var(--font-size-large) * var(--font-scale));
  --font-size-large: calc(var(--font-size) * var(--font-scale));
  --font-size: calc(var(--font-base) + var(--font-ratio));
  --font-size-small: calc(var(--font-size) / var(--font-scale));
  --font-size-smaller: calc(var(--font-size-small) / var(--font-scale));
  --font-size-smallest: calc(var(--font-size-smaller) / var(--font-scale));
  --color-complete-darker: #2b6a94;
  --color-complete-dark: #3c93ce;
  --color-complete: #48b0f7;
  --color-complete-light: #6dc0f9;
  --color-complete-lighter: #daeffd;
  --color-danger-darker: #933432;
  --color-danger-dark: #cd4945;
  --color-danger: #f55753;
  --color-danger-light: #f77975;
  --color-danger-lighter: #fddddd;
  --color-master-darkest: #0a0a0a;
  --color-master-darker: #1a1a1a;
  --color-master-dark: #2c2c2c;
  --color-master: #626262;
  --color-master-light: #e6e6e6;
  --color-master-lighter: #f0f0f0;
  --color-master-lightest: #fafafa;
  --color-primary-darker: #413768;
  --color-primary-dark: #5b4d91;
  --color-primary: #6d5cae;
  --color-primary-light: #8a7dbe;
  --color-primary-lighter: #e2deef;
  --color-success-darker: #0a7c71;
  --color-success-dark: #0dad9e;
  --color-success: #10cfbd;
  --color-success-light: #40d9ca;
  --color-success-lighter: #cff5f2;
  --color-warning-darker: #957d32;
  --color-warning-dark: #cfae45;
  --color-warning: #f8d053;
  --color-warning-light: #f9d975;
  --color-warning-lighter: #fef6dd;
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  background-color: var(--color-master-lightest);
  color: var(--color-master);
  font-family: Helvetica, sans-serif;
  font-size: var(--font-size);
}
