.banner {
  padding: 40px 0;
}

.banner__image {
  padding-top: calc(400 / 747 * 100%) !important;
}

@media (min-width: 760px) {
  .custtom__image {
    padding-top: calc(300 / 939 * 100%) !important;
  }
}

@media (min-width: 960px) {
  .banner__image {
    padding-top: calc(200 / 1200 * 100%) !important;
  }
}

.banner__a {
  margin: 20px auto 0 auto;
}

@media (min-width: 768px) {
  .banner__a {
    bottom: 0;
    left: auto;
    margin-bottom: calc(200 / 1200 * 100% / 2 - 20px);
    position: absolute;
    right: 50px;
  }
}
