.banner {
  padding: 40px 0;
}

.banner__picture {
  background-color: var(--COLOR-MASTER-DARKER);
  display: block;
  height: 100%;
  padding-top: calc(400 / 747 * 100%);
  position: relative;
  width: 100%;
}

@media (min-width: 760px) {
  .custtom__picture {
    padding-top: calc(300 / 939 * 100%);
  }
}

@media (min-width: 960px) {
  .banner__picture {
    padding-top: calc(200 / 1200 * 100%);
  }
}

.banner__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner__a {
  bottom: 40px;
  left: calc(50% - 70px);
  position: absolute;
}

@media (min-width: 960px) {
  .banner__a {
    bottom: 0;
    left: auto;
    margin-bottom: calc(200 / 1200 * 100% / 2 - 20px);
    right: 50px;
  }
}
