.p1 picture {
  margin: 63px 0;
  padding-top: 36px !important;
}

.p2 picture {
  margin: 45px 0 44px 0;
  padding-top: 73px !important;
}

.p3 picture {
  width: 81px !important;
}

.p5 picture {
  width: 91px !important;
}

.feature__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding: 7.5px 0;
}

.feature__p {
  padding: 7.5px 0;
}
