.heading {
  color: var(--color-pure-black);
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
}

h1.heading {
  font-size: var(--font-size-largest);
}

h2.heading {
  font-size: var(--font-size-larger);
}

h2.heading.small {
  font-size: var(--font-size);
}

h3.heading {
  font-size: var(--font-size-large);
}

h4.heading {
  font-size: var(--font-size);
}

h5.heading {
  font-size: var(--font-size-small);
}

h6.heading {
  font-size: var(--font-size-smaller);
}

.heading.inverse {
  color: var(--color-pure-white);
}
