.table {
  border-collapse: collapse;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 1111px) {
  .table {
    max-width: 731px;
  }
}

.table__line {
  border-bottom: 1px solid #dfdfdf;
}

.table__line.head {
  border-bottom-color: #000;
}

.table__content,
.table__heading {
  padding: 23px 0;
}

.table__heading {
  font-size: 14px;
  width: 20%;
}

.table__heading:first-child {
  padding-left: 24px;
  text-align: left;
  width: 40%;
}

.table__content {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.table__name {
  display: none;
}

@media (max-width: 768px) {
  .table {
    margin: 64px 0;
    text-align: left;
  }

  .table__line.body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
  }

  .table__heading {
    padding-left: 0;
    width: 100%;
  }

  .table__heading:first-child {
    padding-left: 0;
    width: 100%;
  }

  .table__heading.body {
    padding: 0;
  }

  .table__heading + .table__heading {
    display: none;
  }

  .table__content {
    padding: 16px 0 24px 0;
    width: 33.33%;
  }

  .table__name {
    display: block;
  }
}

/* Check */
.checked {
  display: block;
  height: 12px;
  margin: 8px 0 0 5px;
  position: relative;
  text-indent: -9000em;
  visibility: hidden;
  width: 16px;
}

@media (min-width: 768px) {
  .checked {
    margin: 0 auto;
  }
}

.checked.active {
  visibility: visible;
}

.checked::after,
.checked::before {
  background-color: #000;
  content: '';
  height: 2px;
  position: absolute;
}

.checked::before {
  right: -5px;
  top: 5px;
  transform: rotate(-31deg);
  width: 20px;
}

.checked::after {
  left: -5px;
  top: 6px;
  transform: rotate(50deg);
  width: 10px;
}
