.bubble {
  padding: 40px 0;
}

.bubble__nav {
  margin: 0 -10px;
}

.bubble__nav > div {
  display: flex;
}

.bubble__div {
  padding: 10px;
}

.bubble__picture {
  display: block;
  height: 100%;
  padding-top: calc(132.5 / 132.5 * 100%);
  position: relative;
  width: 100%;
}

.bubble__img {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bubble__a {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
