.benefits {
  background: #fff;
  margin-bottom: 40px;
  padding: 20px 0;
}

.benefits__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.benefits__li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: calc(50% - 5px);
}

@media (min-width: 960px) {
  .benefits__li {
    width: calc(25% - 13.333px);
  }
}

.benefits__icon {
  color: var(--COLOR-MASTER-DARKER);
  font-size: 24px;
}

.benefits__p {
  color: var(--COLOR-MASTER);
  font-size: 12px;
  width: calc(100% - 50px);
}
