.heading {
  color: var(--color-master-darkest);
  font-weight: 700;
  line-height: 1.2;
}

h1.heading {
  font-size: var(--font-size-largest);
}

h2.heading {
  font-size: var(--font-size-larger);
}

h3.heading {
  font-size: var(--font-size-large);
}

h4.heading {
  font-size: var(--font-size-base);
}

h5.heading {
  font-size: var(--font-size-small);
}

h6.heading {
  font-size: var(--font-size-smaller);
}

.heading.largest {
  font-size: var(--font-size-largest);
}

.heading.larger {
  font-size: var(--font-size-larger);
}

.heading.large {
  font-size: var(--font-size-large);
}

.heading.base {
  font-size: var(--font-size-base);
}

.heading.small {
  font-size: var(--font-size-small);
}

.heading.smaller {
  font-size: var(--font-size-smaller);
}

.heading.smallest {
  font-size: var(--font-size-smallest);
}

.heading.inverse {
  color: var(--color-master-lightest);
}
