.home__blockquote {
  display: block;
  line-height: 1.38;
  margin: var(--size-largest) auto;
  max-width: 764px;
  padding: var(--size-largest);
}

.home__sup {
  font-size: 55px !important;
  line-height: 0;
}

.home__cite {
  display: inline-block;
  font-weight: 700;
}

.home__boxes {
  display: grid;
  gap: var(--size-medium);
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 769px) {
  .home__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home__box {
  cursor: pointer;
}

.home__data {
  display: block;
  font-weight: 700;
  line-height: 1;
}

.home__strong {
  display: inline-block;
  margin-top: var(--size-largest);
}
