.logo {
  cursor: pointer;
  display: flex;
  place-items: center;
}

.logo__picture {
  cursor: pointer;
  padding-top: 32px !important;
  width: 32px !important;
}

.logo__heading {
  letter-spacing: 1px;
  margin-left: 10px;
}
