.footer {
  background-color: var(--COLOR-MASTER-DARKER);
  padding: 80px 0;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__section {
  text-align: center;
  width: 100%;
}

.footer__section:not(:first-of-type) {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer__section {
    padding-right: 20px;
    text-align: left;
    width: calc(50% - 5px);
  }

  .footer__section:nth-child(2) {
    margin-top: 0;
  }
}

@media (min-width: 960px) {
  .footer__section {
    margin-top: 0 !important;
    width: calc(25% - 7.5px);
  }
}

.footer__address {
  font-style: normal;
}

.footer__icon {
  color: var(--COLOR-MASTER-LIGHTEST);
  font-size: 40px;
  margin-bottom: 10px;
}

.footer__h3 {
  color: var(--COLOR-MASTER-LIGHTEST);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer__p {
  color: var(--COLOR-MASTER-LIGHT);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding: 0 20%;
}

@media (min-width: 768px) {
  .footer__p {
    padding: 0;
  }
}

.footer__a {
  color: var(--COLOR-MASTER-LIGHTEST);
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 5px 0;
  text-decoration: none;
  text-transform: uppercase;
}
