.tarja {
  position: relative;
}

.tarja__picture {
  padding-top: 314px !important;
}

@media (min-width: 768px) {
  .tarja__picture {
    padding-top: 264px !important;
  }
}

.tarja__figcaption {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 45px 15px;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .tarja__figcaption {
    flex-direction: row;
    justify-content: space-between;
  }
}

.tarja__heading {
  display: inline-block;
  letter-spacing: 4.17px;
  line-height: 48px;
  max-width: 420px;
  padding: 15px;
  text-transform: uppercase;
}

.tarja__linkButton {
  justify-content: flex-start;
  padding: 15px;
}
