.iPhone__nav {
  border-bottom: 1px solid hsla(0, 0%, 53.3%, 0.4);
  height: 48px;
  position: sticky;
  top: 0;
}

.iPhone__container {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
}

.iPhone__name {
  color: #111;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 0 12px;
}

.iPhone__price {
  color: #111;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 0 12px;
}
