.header {
  border-bottom: 1px solid var(--color-master-light);
  display: flex;
  flex-direction: column;
  padding: var(--size-small) 0;
}

@media (min-width: 862px) {
  .header {
    gap: var(--size-small);
    padding-bottom: 0;
  }
}

.header__container {
  align-items: center;
  display: flex;
  gap: var(--size-medium);
}

@media (max-width: 861px) {
  .header__container.desktop {
    display: none;
  }
}

.header__div {
  display: flex;
  gap: var(--size-medium);
}

.header__div:first-child {
  flex-grow: 1;
  justify-content: flex-start;
}

.header__div:last-child {
  justify-content: flex-end;
}
