.header {
  border-bottom: 1px solid var(--color-master-light);
  padding: var(--size-small) 0;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .header__container {
    flex-wrap: wrap;
  }
}
