.back {
  padding: 40px 10px;
}

.back__link {
  border-bottom: 2px solid black;
  color: #2c2c2c;
  float: left;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.back__icon {
  font-size: 13px;
  margin-right: 5px;
}
