.link {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-decoration: underline;
}

.link[largest] {
  font-size: var(--size-largest);
}

.link[larger] {
  font-size: var(--size-larger);
}

.link[large] {
  font-size: var(--size-large);
}

.link,
.link[medium] {
  font-size: var(--size-medium);
}

.link[small] {
  font-size: var(--size-small);
}

.link[smaller] {
  font-size: var(--size-smaller);
}

.link[smallest] {
  font-size: var(--size-smallest);
}

.link.master {
  color: var(--color-master-dark);
}

.link.primary {
  color: var(--color-primary);
}

.link.complete {
  color: var(--color-complete);
}

.link.success {
  color: var(--color-success);
}

.link.warning {
  color: var(--color-warning);
}

.link.danger {
  color: var(--color-danger);
}
