.link {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--size-small) !important;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.618px;
}

.link[master] {
  color: var(--color-master-darker);
}

.link[primary] {
  color: var(--color-primary-darker);
}

.link[complete] {
  color: var(--color-complete-darker);
}

.link[success] {
  color: var(--color-success-darker);
}

.link[warning] {
  color: var(--color-warning-darker);
}

.link[danger] {
  color: var(--color-danger-darker);
}

.link[info] {
  color: var(--color-info-darker);
}
