.link {
  color: var(--color-success);
  display: inline-flex;
  font-size: var(--font-size);
  font-weight: 700;
  place-items: center;
  text-decoration: none;
}

.link:active,
.link:visited {
  color: var(--clor-success-dark);
}

.link:hover {
  color: var(--color-success-light);
  text-decoration: underline;
}
