.summary {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--size-medium);
}

@media (min-width: 426px) {
  .summary {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .summary {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 961px) {
  .summary {
    grid-template-columns: repeat(4, 1fr);
  }
}
