.select {
  background-color: var(--color-master-lightest);
  border-left: 1px solid var(--color-master-light);
  bottom: 0;
  box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.15);
  height: 100vh;
  left: 0;
  opacity: 0;
  -ms-overflow-style: none;
  overflow-y: auto;
  position: fixed;
  scrollbar-width: none;
  transform: translate(0, calc(100vh + 466px));
  transition: all 618ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: 1;
}

.select::-webkit-scrollbar {
  display: none;
}

.select[opened] {
  opacity: 1;
  transform: translate(0, calc(100vh - 466px));
}

@media (min-width: 769px) {
  .select {
    bottom: auto;
    top: 0;
    transform: translate(-298px, 0);
    width: 298px;
  }

  .select[opened] {
    transform: translate(0, 0);
  }
}

.select__overlayer {
  display: none;
  height: calc(100vh - 466px);
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.select__overlayer[opened] {
  display: block;
}

@media (min-width: 769px) {
  .select__overlayer {
    height: 100vh;
    width: calc(100vw - 298px);
  }
}
