.text {
  color: var(--color-master-darkest);
  font-size: var(--font-size-base);
  font-weight: 700;
  line-height: 1.2;
}

.text.largest {
  font-size: var(--font-size-largest);
}

.text.larger {
  font-size: var(--font-size-larger);
}

.text.large {
  font-size: var(--font-size-large);
}

.text.base {
  font-size: var(--font-size-base);
}

.text.small {
  font-size: var(--font-size-small);
}

.text.smaller {
  font-size: var(--font-size-smaller);
}

.text.smallest {
  font-size: var(--font-size-smallest);
}

.text.inverse {
  color: var(--color-master-lightest);
}
