.button {
  align-items: center;
  border: none;
  border-radius: 18px;
  display: inline-flex;
  font-size: var(--size-small) !important;
  font-weight: 700;
  height: var(--size-largest);
  justify-content: center;
  line-height: 0.5;
  padding: var(--size-smaller) var(--size-largest);
  text-decoration: none;
}

.button.master {
  background-color: var(--color-master-dark);
  color: var(--color-master-lightest);
}
