.button {
  border: none;
  color: var(--color-master-lightest);
  display: inline-flex;
  font-size: var(--size-medium);
  font-weight: 700;
  height: 40px;
  padding: 0 var(--gutter-larger);
  place-items: center;
  text-decoration: none;
}

.button[master] {
  background-color: var(--color-master);
}

.button[master]:hover {
  background-color: var(--color-master-light);
}

.button[primary] {
  background-color: var(--color-primary);
}

.button[primary]:hover {
  background-color: var(--color-primary-light);
}

.button[complete] {
  background-color: var(--color-complete);
}

.button[complete]:hover {
  background-color: var(--color-complete-light);
}

.button[success] {
  background-color: var(--color-success);
}

.button[success]:hover {
  background-color: var(--color-success-light);
}

.button[warning] {
  background-color: var(--color-warning);
}

.button[warning]:hover {
  background-color: var(--color-warning-light);
}

.button[danger] {
  background-color: var(--color-danger);
}

.button[danger]:hover {
  background-color: var(--color-danger-light);
}

.button[info] {
  background-color: var(--color-info);
}

.button[info]:hover {
  background-color: var(--color-info-light);
}
