.button {
  align-items: center;
  border: none;
  border-radius: 18px;
  color: var(--color-master-lightest);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--size-small) !important;
  font-weight: 500;
  height: var(--size-largest);
  justify-content: center;
  letter-spacing: 0.618px;
  line-height: 1;
  padding: var(--size-smaller) var(--size-largest);
  text-decoration: none;
}

.button[master] {
  background-color: var(--color-master-dark);
}

.button[primary] {
  background-color: var(--color-primary);
}

.button[complete] {
  background-color: var(--color-complete);
}

.button[success] {
  background-color: var(--color-success);
}

.button[warning] {
  background-color: var(--color-warning);
}

.button[danger] {
  background-color: var(--color-danger);
}

.button[info] {
  border: 1px solid var(--color-master-dark);
  color: var(--color-master-dark);
}
