.card {
  position: relative;
}

@media (min-width: 768px) {
  .card {
    float: left;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .card {
    width: 25%;
  }
}

.card__picture {
  padding-top: calc(767 / 767 * 100%);
}

@media (min-width: 768px) {
  .card__picture {
    padding-top: calc(500 / 389 * 100%);
  }
}

@media (min-width: 960px) {
  .card__picture {
    padding-top: calc(500 / 360 * 100%);
  }
}

.card__figcaption {
  align-items: flex-start;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  padding: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}

.card__h2 {
  color: var(--color-pure-white);
}

.card__p {
  color: var(--color-pure-white);
}

.card__linkButton {
  margin-top: 30px;
}
