@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "zuen";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/zuen.eot");
  src:
    url("fonts/zuen.eot?#iefix") format("embedded-opentype"),
    url("fonts/zuen.woff") format("woff"),
    url("fonts/zuen.ttf") format("truetype"),
    url("fonts/zuen.svg#zuen") format("svg");
}

.icon {
  font-family: "zuen" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
}

.icon__star--full::before {
  content: "\61";
}

.icon__star--half::before {
  content: "\62";
}

.icon__star::before {
  content: "\63";
}
