@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "jrmod-font";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/jrmod-font.eot");
  src:
    url("fonts/jrmod-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/jrmod-font.woff") format("woff"),
    url("fonts/jrmod-font.ttf") format("truetype"),
    url("fonts/jrmod-font.svg#jrmod-font") format("svg");
}

.icon {
  font-family: "jrmod-font" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
}

.icon__globe::before {
  content: "\61";
}

.icon__users::before {
  content: "\62";
}

.icon__check::before {
  content: "\64";
}

.icon__tag::before {
  content: "\65";
}

.icon__map-marker::before {
  content: "\63";
}

.icon__foot::before {
  content: "\67";
}

.icon__heart::before {
  content: "\68";
}
