.breadcrumb {
  padding: 30px 0;
}

.breadcrumb__ul {
  display: flex;
  list-style: none;
}

.breadcrumb__ul li {
  align-items: center;
  display: flex;
  font-size: 11px;
}

.breadcrumb__ul li:not(:first-of-type) {
  margin-left: 10px;
}

.breadcrumb__a {
  color: inherit;
  text-decoration: none;
}

.breadcrumb__home {
  color: var(--COLOR-MASTER-DARK);
  font-weight: 600;
  text-transform: uppercase;
}

.breadcrumb__separator {
  color: var(--COLOR-MASTER-DARK);
}

.breadcrumb__product {
  font-weight: 300;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .product {
    flex-direction: row;
  }
}

.product__image {
  height: 590px;
  padding-top: 0 !important;
}

@media (min-width: 768px) {
  .product__image {
    width: calc(50% - 10px);
  }
}

.product__div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .product__div {
    margin-top: 0;
    width: calc(50% - 10px);
  }
}

.product__title {
  color: var(--COLOR-MASTER-DARKER);
  font-size: 18px;
}

.product__price {
  font-size: 11px;
  font-weight: 300;
  margin-top: 10px;
  text-decoration: line-through;
}

.product__salePrice {
  font-size: 11px;
  font-weight: 300;
}

.product__salePrice strong {
  color: var(--COLOR-MASTER-DARKER);
  font-size: 18px;
}

.product__priceConditional {
  font-size: 11px;
  font-weight: 300;
}

.product__description {
  margin-top: 20px;
}

.product__color,
.product__memory {
  color: var(--COLOR-MASTER-DARKER);
  font-size: 11px;
  margin-top: 20px;
  text-transform: uppercase;
}

.colors {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.colors__white {
  background-color: #fff;
  border: 2px solid var(--COLOR-MASTER-DARKER);
  border-radius: 50%;
  height: 40px;
  overflow: hidden;
  text-indent: -999px;
  width: 40px;
}

.memory {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.memory__64 {
  border: 2px solid var(--COLOR-MASTER-DARKER);
  color: var(--COLOR-MASTER-DARK);
  padding: 5px 40px;
}
