.region__p {
  text-align: left;
}

@media (max-width: 667px) {
  .region__p {
    display: none;
  }
}

.region__p strong {
  color: var(--color-master-darker);
  font-weight: 700;
}

.region__link {
  border-bottom: 1px solid var(--color-master-lighter);
  justify-content: flex-start;
  padding: var(--size-small) var(--size-medium);
  text-decoration: none;
  width: 100%;
}

.region__link:hover {
  text-decoration: underline;
}
