@media (max-width: 768px) {
  .bookmark {
    display: none;
  }
}

.bookmark__p {
  text-align: left;
}

.bookmark__p strong {
  color: var(--color-master-darker);
  font-weight: 700;
}

.bookmark__link {
  border-bottom: 1px solid var(--color-master-lighter);
  font-weight: 500;
  justify-content: flex-start;
  padding: var(--size-small) var(--size-medium);
  text-decoration: none;
  width: 100%;
}

.bookmark__link:hover {
  text-decoration: underline;
}
