.switch {
  align-items: center;
  color: #dfdfdf;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}

.switch__monthly {
  color: #000;
}

.switch__label {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 0 32px;
  position: relative;
  width: 64px;
}

.switch__check {
  height: 0;
  opacity: 0;
  width: 0;
}

.switch__slider,
.switch__slider::before,
.switch__monthly,
.switch__yearly {
  transition: 0.4s;
}

.switch__slider {
  background-color: #dfdfdf;
  border-radius: 32px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.switch__slider::before {
  background-color: #fff;
  border-radius: 50%;
  bottom: 4px;
  content: '';
  height: 24px;
  left: 4px;
  position: absolute;
  width: 24px;
}

.switch__check:checked + .switch__slider {
  background-color: #000;
}

.switch__check:checked + .switch__slider::before {
  transform: translateX(30px);
}

/* activeted */
[data-pricing=year] .switch__yearly {
  color: #000;
}

[data-pricing=year] .switch__monthly {
  color: #dfdfdf;
}
