.banner {
  position: relative;
}

@media (max-width: 767px) {
  .banner {
    align-items: center;
    background-color: var(--color-pure-black);
    display: flex;
    flex-direction: column;
  }
}

.banner__picture {
  padding-top: calc(650 / 767 * 100%) !important;
}

@media (min-width: 768px) {
  .banner__picture {
    padding-top: calc(650 / 959 * 100%) !important;
  }
}

@media (min-width: 960px) {
  .banner__picture {
    padding-top: calc(650 / 1440 * 100%) !important;
  }
}

.banner__figcaption {
  max-width: 450px;
  padding: 45px 15px;
}

@media (min-width: 768px) {
  .banner__figcaption {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    max-width: 500px;
    padding: 0 45px;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 960px) {
  .banner__figcaption {
    max-width: 600px;
  }
}

.banner__h1 {
  color: var(--color-pure-white);
  padding: 15px;
  text-transform: uppercase;
}

.banner__h2 {
  color: var(--color-pure-white);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 16px;
  padding: 15px;
  text-transform: uppercase;
}

.banner__p {
  color: var(--color-light-gray);
  padding: 15px;
}

.banner__linkButton {
  justify-content: flex-start;
  padding: 15px;
}
