.feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .feature {
    max-width: max-content;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .feature {
    width: 33.33%;
  }
}

.feature__picture {
  margin: 45px 0;
  padding-top: 72px !important;
  width: 72px !important;
}
