.drop {
  align-items: center;
  border-color: transparent transparent var(--color-master-light) transparent;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: grid;
  grid-template-areas: 'icon title arrow';
  grid-template-columns: 40px 1fr 20px;
  height: 48px;
  padding: 0 var(--size);
}

@media (min-width: 768px) {
  .drop {
    border-bottom-color: transparent;
    grid-template-areas: 'icon subtitle arrow' 'icon title arrow';
    height: 40px;
    padding: 0 var(--size-smaller);
  }
}

.drop:hover {
  border-color: var(--color-master-light);
  border-style: dotted;
}

[slot=icon] { grid-area: icon; }

[slot=subtitle] {
  display: none;
  grid-area: subtitle;
}

@media (min-width: 768px) {
  [slot=subtitle] { display: block; }
}

[slot=title] {
  grid-area: title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.drop__arrowLeft { grid-area: arrow; }

@media (min-width: 768px) {
  .drop__arrowLeft {
    align-self: end;
    margin-right: 5px;
    transform: rotate(90deg);
  }
}
