.drop {
  align-items: center;
  border-color: transparent transparent var(--color-master-light) transparent;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  height: 48px;
  padding: 0 var(--size);
  width: 100%;
}

@media (min-width: 768px) {
  .drop {
    border-bottom-color: transparent;
    padding: 0;
  }
}

.drop:hover {
  border-color: var(--color-master-light);
  border-style: dotted;
}

.drop__arrowLeft {
  margin-left: auto;
}

@media (min-width: 768px) {
  .drop__arrowLeft {
    margin: auto 0 7px 0;
    transform: rotate(90deg);
  }
}

[slot=title] {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  [slot=title] {
    max-width: 150px;
  }
}

[slot=subtitle] {
  display: none;
}

@media (min-width: 768px) {
  [slot=subtitle] {
    display: block;
    font-weight: normal;
  }
}

[slot=icon] {
  margin-right: var(--size-smaller);
}
