<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/manifest.json" rel="manifest" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta name="yandex-verification" content="90d9650df5d8a6fa" />
  <meta name="msvalidate.01" content="C19252E01B3E21FB046F36E27AD35B4D" />
  <meta name="google-site-verification" content="0C2P1KDyIRwM6hcU4swvFOSpdKRhqK1EKCuRKFZAuFI" />
  <!-- Meta tag here -->
</head>
<body>
  <noscript>You have to load the page with JavaScript disabled to see this message.</noscript>
  <!-- APP here -->
</body>
</html>
