.footer {
  align-items: center;
  background-color: var(--color-pure-black);
  display: flex;
  flex-direction: column;
  padding: 45px 30px;
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-areas:
      "logo invite"
      "nav nav"
      "social copyright";
    grid-template-columns: 50% 50%;
  }
}

.footer__logo {
  grid-area: logo;
  margin: 15px 0;
}

.footer__social {
  margin: 15px 0;
}

@media (min-width: 768px) {
  .footer__social {
    grid-area: social;
    margin-top: 75px;
  }
}

.footer__nav {
  margin: 37.5px 0;
}

@media (min-width: 768px) {
  .footer__nav {
    grid-area: nav;
    margin: 15px 0;
  }
}

.footer__linkButton {
  margin: 15px 0;
}

@media (min-width: 768px) {
  .footer__linkButton {
    grid-area: invite;
    justify-content: end !important;
  }
}

.footer__p {
  color: var(--color-light-gray);
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0;
}

@media (min-width: 768px) {
  .footer__p {
    grid-area: copyright;
    margin-top: 75px;
    text-align: right;
  }
}
