.pricing__h1 {
  color: var(--color-master-darkest);
}

.pricing__content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: 769px) and (max-width: 1110px) {
  .pricing__content {
    padding: 0 40px;
  }
}

@media (min-width: 1111px) {
  .pricing__content {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}

.pricing__switch {
  margin: 64px 0 16px 0;
  width: 100%;
}

@media (min-width: 1111px) {
  .pricing__switch {
    margin-bottom: 40px;
  }
}

.pricing__heading {
  color: #000;
  display: none;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4.16667px;
  line-height: 48px;
  margin-top: 112px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 768px) {
  .pricing__heading {
    display: block;
  }
}

.pricing__table {
  margin: 64px 0;
}
