body {
  --color-master-darkest: #0a0a0a;
  --color-master-darker: #1a1a1a;
  --color-master-dark: #2c2c2c;
  --color-master-base: #626262;
  --color-master-light: #e6e6e6;
  --color-master-lighter: #f0f0f0;
  --color-master-lightest: #fafafa;
}
