.footer {
  background-color: var(--COLOR-MASTER-DARKER);
  padding: 40px 0;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer__div {
  width: 100%;
}

@media (min-width: 768px) {
  .footer__div {
    width: calc(50% - 5px);
  }
}

@media (min-width: 960px) {
  .footer__div {
    width: calc(25% - 7.5px);
  }
}

.footer__h3 {
  color: var(--COLOR-MASTER-LIGHTEST);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.footer__ul {
  list-style: none;
}

.footer__li {
  text-align: center;
}

.footer__a {
  color: var(--COLOR-MASTER-LIGHTER);
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}
