<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Rex.JS Mark II</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- SmartCode Start -->
        <script>
            (a=>{const b=()=>document.createElement("script"),c=(b,c)=>(c.setAttribute("src",`${a}/${b}`),c),d=a=>document.head.appendChild(a),e=a=>b=>a.test(b),f=a=>b=>!e(a)(b),g=(a,e)=>e.filter(b=>a(b)).flat(1/0).forEach(a=>d(c(a,b())));fetch(`${a}/stats.json`).then(a=>a.json()).then(a=>a.assetsByChunkName).then(a=>Object.values(a)).then(a=>{g(e(/runtime/),a),g(e(/vendors/),a),g(f(/runtime|vendors/),a)}).catch(a=>console.log("Erro: N\xE3o foi possivel carregar os chunks",a))})("http://localhost:9000");
        </script>
        <!-- SmartCode End -->
    </body>
</html>
