.footer {
  background-color: var(--color-master-lighter);
  border-top: 1px solid var(--color-master-light);
  position: relative;
}
.footer {
  margin-top: var(--size-largest);
}

.footer__container {
  display: grid;
  gap: var(--size-medium);
  padding: var(--size-small) var(--size-medium) var(--size-largest) var(--size-medium);
  width: 100%;
}

@media (min-width: 769px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 769px) {
  .footer__div {
    align-items: flex-start;
  }
}

.footer__i {
  display: block;
  padding-top: var(--size-small);
}

.footer__nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .footer__nav {
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.footer__icon:not(:first-of-type) {
  margin-left: var(--size-medium);
}
