.structure__h1 {
  display: block;
  margin: 0 auto;
  max-width: 764px;
  padding: 0 var(--size-largest);
}

.structure__p {
  display: block;
  margin: 0 auto;
  max-width: 764px;
  padding: var(--size-largest);
}

