.home {
  background-color: var(--color-master-light);
  display: flex;
  height: 100vh;
  width: 100%;
}

.home__content {
  flex-grow: 2;
}

.home__header, .home__box {
  margin: 10px 20px;
  padding: 10px;
}

.home__box {
  background-color: #FFF;
  border-radius: var(--radius-base);
}