.jumbotron {
  background-color: #000;
}

.jumbotron__picture {
  display: block;
  height: 100%;
  padding-top: calc(500 / 529 * 100%);
  position: relative;
  width: 100%;
}

@media (min-width: 550px) {
  .jumbotron__picture {
    padding-top: calc(500 / 747 * 100%);
  }
}

@media (min-width: 768px) {
  .jumbotron__picture {
    padding-top: calc(500 / 939 * 100%);
  }
}

@media (min-width: 960px) {
  .jumbotron__picture {
    padding-top: calc(500 / 1200 * 100%);
  }
}

.jumbotron__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbotron__h1 {
  bottom: 100px;
  color: var(--COLOR-MASTER-LIGHTEST);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  left: 10px;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
}

@media (min-width: 768px) {
  .jumbotron__h1 {
    font-size: 24px;
  }
}

.jumbotron__a {
  bottom: 40px;
  left: calc(50% - 70px);
  position: absolute;
}
