.jumbotron {
  background-color: var(--COLOR-MASTER-DARKER);
}

.jumbotron__picture {
  display: block;
  height: 100%;
  padding-top: calc(600 / 767 * 100%);
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .jumbotron__picture {
    padding-top: calc(500 / 959 * 100%);
  }
}

@media (min-width: 960px) {
  .jumbotron__picture {
    padding-top: calc(400 / 1200 * 100%);
  }
}

.jumbotron__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  width: 100%;
}

.jumbotron__h1 {
  bottom: 100px;
  color: var(--COLOR-MASTER-LIGHTEST);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  left: 10px;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
}

@media (min-width: 768px) {
  .jumbotron__h1 {
    font-size: 24px;
  }
}

.jumbotron__a {
  align-items: center;
  border: 2px solid var(--COLOR-MASTER-LIGHTEST);
  border-radius: 20px;
  bottom: 40px;
  color: var(--COLOR-MASTER-LIGHTEST);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  left: calc(50% - 70px);
  letter-spacing: 1px;
  line-height: 1;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
}
