:root {
  --color-master-darkest: #fafafa;
  --color-master-darker: #f0f0f0;
  --color-master-dark: #e6e6e6;
  --color-master-base: #626262;
  --color-master-light: #2c2c2c;
  --color-master-lighter: #1a1a1a;
  --color-master-lightest: #0a0a0a;
}
