.features__ul {
  align-items: center;
  clear: left;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 45px 15px 75px 15px;
}

@media (min-width: 768px) {
  .features__ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
