.features {
  align-items: center;
  clear: left;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 45px 15px 75px 15px;
}

@media (min-width: 960px) {
  .features {
    flex-direction: row;
  }
}

.features__li {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding: 15px;
  text-align: center;
}

@media (min-width: 960px) {
  .features__li {
    max-width: max-content;
    width: 33.33%;
  }
}

.features__picture {
  margin: 45px 0;
  width: 72px;
}

.features__picture.p0 {
  padding-top: 72px !important;
}

.features__picture.p1 {
  margin: 63px 0;
  padding-top: 36px !important;
}

.features__picture.p2 {
  margin: 45px 0 44px 0;
  padding-top: 73px !important;
}

.features__h3 {
  padding: 7.5px 0;
}

.features__p {
  padding: 7.5px 0;
}
