.features {
  align-items: center;
  clear: left;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 45px 15px 75px 15px;
}

@media (min-width: 960px) {
  .features {
    flex-direction: row;
  }
}

.p0 picture {
  padding-top: 72px !important;
}

.p1 picture {
  margin: 63px 0;
  padding-top: 36px !important;
}

.p2 picture {
  margin: 45px 0 44px 0;
  padding-top: 73px !important;
}

.features__heading {
  padding: 7.5px 0;
}

.features__p {
  padding: 7.5px 0;
}
