:root {
  --COLOR-MASTER-DARKEST: #0a0a0a;
  --COLOR-MASTER-DARKER: #1a1a1a;
  --COLOR-MASTER-DARK: #2c2c2c;
  --COLOR-MASTER: #626262;
  --COLOR-MASTER-LIGHT: #e6e6e6;
  --COLOR-MASTER-LIGHTER: #f0f0f0;
  --COLOR-MASTER-LIGHTEST: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--COLOR-MASTER-LIGHTEST);
  color: var(--COLOR-MASTER);
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  overflow-x: hidden;
}
