.nav {
  padding: 40px 10px;
}

.nav__link {
  color: #2c2c2c;
  font-size: 60px;
  font-weight: 500;
  margin-left: 58px;
  text-decoration: none;
}

@media (min-width: 425px) {
  .nav__link {
    margin-left: calc(15% + 4px);
  }
}
