.part {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin: 5px;
  width: 100px;
}

.part.playing {
  transform: scale(1.1);
  border-color: #ffc600;
}

.part.stopped {
  transform: scale(1);
  transition: all 0.5s ease;
  border-color: #000;
}

.part__key {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
}

.part__sound {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffc600;
}
