.table {
  border-collapse: collapse;
  margin: 0 20px;
  text-align: left;
  text-transform: uppercase;
  width: calc(100% - 40px);
}

.table tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.table th {
  font-size: 12px;
  padding: 23px 0 16px 0;
}

.table td {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}

.table__head tr {
  border-bottom-color: #000;
}

.table__body tr {
  border-bottom-color: #dfdfdf;
}

.table__body td {
  padding: 16px 0 24px 0;
  width: 33.33%;
}

.checked {
  display: block;
  height: 12px;
  margin: 8px 0 0 5px;
  position: relative;
  text-indent: -9000em;
  visibility: hidden;
  width: 16px;
}

.checked.active {
  visibility: visible;
}

.checked::after,
.checked::before {
  background-color: #000;
  content: '';
  height: 2px;
  position: absolute;
}

.checked::before {
  right: -5px;
  top: 5px;
  transform: rotate(-31deg);
  width: 20px;
}

.checked::after {
  left: -5px;
  top: 6px;
  transform: rotate(50deg);
  width: 10px;
}
