.exploration > div {
  display: flex;
  flex-direction: column;
  gap: var(--size-medium);
}

.exploration__box {
  cursor: pointer;
  width: 388.666px;
}

.exploration__strong {
  font-weight: 500;
  line-height: 1.382;
}

@media (min-width: 769px) {
  .exploration__main {
    grid-template-columns: repeat(3, 1fr);
  }
}
