.souvenier {
  padding: 40px 0;
}

.souvenier__h2 {
  color: var(--COLOR-MASTER-DARKER);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .souvenier__h2 {
    font-size: 24px;
    text-align: left;
  }
}

.souvenier__div {
  position: relative;
}

.souvenier__div:not(:first-of-type) {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .souvenier__div {
    margin-top: 10px;
    width: calc(50% - 5px);
  }
}

.souvenier__picture {
  background-color: var(--COLOR-MASTER-DARKER);
  display: block;
  height: 100%;
  padding-top: calc(600 / 747 * 100%);
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .souvenier__picture {
    padding-top: calc(500 / 939 * 100%);
  }
}

@media (min-width: 960px) {
  .souvenier__picture {
    padding-top: calc(400 / 1200 * 100%);
  }
}

.souvenier__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  width: 100%;
}

.souvenier__a {
  bottom: 40px;
  left: calc(50% - 70px);
  position: absolute;
}
