.benefits {
  background: #fff;
  padding: 20px 0;
}

.benefits__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.benefits__li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

@media (min-width: 550px) {
  .benefits__li {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1099px) {
  .benefits__li {
    width: calc(25% - 10px);
  }
}

.benefits__img {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.benefits__a {
  color: var(--COLOR-MASTER-DARK);
  text-decoration: none;
  width: calc(100% - 60px);
}
