.product {
  padding-top: 40px;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__h2 {
  color: var(--COLOR-MASTER-DARKER);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .product__h2 {
    font-size: 24px;
    text-align: left;
  }
}

.product__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: calc(50% - 5px);
}

@media (min-width: 768px) {
  .product__div {
    width: calc(33.333% - 6.666px);
  }
}

@media (min-width: 960px) {
  .product__div {
    width: calc(25% - 7.5px);
  }
}

.product__picture {
  background-color: var(--COLOR-MASTER-DARKER);
  display: block;
  height: 100%;
  padding-top: calc(400 / 293.3 * 100%);
  position: relative;
  width: 100%;
}

.product__img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  width: 100%;
}

.product__p {
  color: var(--COLOR-MASTER-DARKER);
  font-weight: 600;
  margin-top: 10px;
}
