.product {
  padding-top: 40px;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: calc(50% - 5px);
}

@media (min-width: 768px) {
  .product__div {
    width: calc(33.333% - 6.666px);
  }
}

@media (min-width: 960px) {
  .product__div {
    width: calc(25% - 7.5px);
  }
}

.product__image {
  padding-top: calc(400 / 293.3 * 100%) !important;
}

.product__p {
  color: var(--COLOR-MASTER-DARKER);
  font-weight: 600;
  margin-top: 10px;
}
