.definition__blockquote {
  display: block;
  line-height: 1.38;
  margin: 0 auto;
  max-width: 764px;
  padding: var(--size-largest);
  position: relative;
}

.definition__cite {
  display: inline-block;
  font-weight: 700;
}
